<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>decorate_daily_ip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1455,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1455,374}}</string>
                <key>sourceSize</key>
                <string>{1455,374}</string>
            </dict>
            <key>loc_bestvalue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,2},{178,179}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{178,179}}</string>
                <key>sourceSize</key>
                <string>{184,185}</string>
            </dict>
            <key>ui_LeftMoves.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,2},{256,205}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{256,205}}</string>
                <key>sourceSize</key>
                <string>{260,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>localized.png</string>
            <key>size</key>
            <string>{1897,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75d81130e1ad8f12ea7a7637629c78cf:81614cce75988a2ea86d486695cdc80b:56b6de8358278e6c91f684806c2c4546$</string>
            <key>textureFileName</key>
            <string>localized.png</string>
        </dict>
    </dict>
</plist>
