<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_facebook1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>button_facebook2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,25},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,43}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>info-shuffle.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,25},{154,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,43}}</string>
                <key>sourceSize</key>
                <string>{154,43}</string>
            </dict>
            <key>loc_x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,70},{94,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,46}}</string>
                <key>sourceSize</key>
                <string>{96,46}</string>
            </dict>
            <key>mark_+15moves.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,70},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>mark_+30moves.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,70},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>mark_+5moves.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,70},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>mark_bestvalue.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,70},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mark_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{54,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,21}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>mark_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{42,21}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>mark_harvest1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,25},{49,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{49,22}}</string>
                <key>sourceSize</key>
                <string>{85,22}</string>
            </dict>
            <key>mark_harvest2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{57,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{57,20}}</string>
                <key>sourceSize</key>
                <string>{85,22}</string>
            </dict>
            <key>mark_harvest3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,25},{57,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{57,22}}</string>
                <key>sourceSize</key>
                <string>{85,22}</string>
            </dict>
            <key>mark_newrecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,70},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mark_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{54,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,21}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>moves_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{24,13}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{24,13}}</string>
                <key>sourceSize</key>
                <string>{46,13}</string>
            </dict>
            <key>text_highscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{73,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{73,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>text_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{45,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{45,15}}</string>
                <key>sourceSize</key>
                <string>{75,17}</string>
            </dict>
            <key>text_useboosts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{74,12}}</string>
                <key>sourceSize</key>
                <string>{102,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>localized.pvr.ccz</string>
            <key>size</key>
            <string>{405,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:843c4571e65c7602cd8a21b61c4c5f66:1f82eb98c2e0109d367666e3ca919ca0:72f387947676c4a2998f84a725912c4c$</string>
            <key>textureFileName</key>
            <string>localized.pvr.ccz</string>
        </dict>
    </dict>
</plist>
