<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slider_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{301,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,14}}</string>
                <key>sourceSize</key>
                <string>{301,14}</string>
            </dict>
            <key>slider_barbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{301,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,14}}</string>
                <key>sourceSize</key>
                <string>{301,14}</string>
            </dict>
            <key>slider_drag.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>ui_button_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{134,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,48}}</string>
                <key>sourceSize</key>
                <string>{134,48}</string>
            </dict>
            <key>ui_icon_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{58,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,49}}</string>
                <key>sourceSize</key>
                <string>{58,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Editor.png</string>
            <key>size</key>
            <string>{864,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2623aaf20f278138c2a0d995bd9c68a0:2bbe4a36a783f16e69d94913dde86882:6f3e8e5cdb55b90841f62e4e51f5913d$</string>
            <key>textureFileName</key>
            <string>Editor.png</string>
        </dict>
    </dict>
</plist>
