<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,68}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{59,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{59,64}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>Xxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{33,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{33,34}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>a0.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{61,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{61,68}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{55,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{55,64}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{63,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>b0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{63,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{63,68}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{59,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{59,62}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>c0.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{69,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{63,62}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{67,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{67,68}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,2},{63,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{63,62}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>e0.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{67,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{67,68}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>e1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{61,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{61,62}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,2},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{67,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{67,68}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,2},{61,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{61,64}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>hengxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,2},{47,20}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{47,20}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>jellolight-72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{71,71}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>lingxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,2},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{31,32}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>none.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{64,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>random.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,2},{64,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>shuxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,2},{19,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{19,46}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elements.png</string>
            <key>size</key>
            <string>{1669,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0cc8e4c6e7dbf28c307261985c88cf0:bf7350831c6c9f682492ecc9ab6ef877:3c253f52dcce18c24cfa724805a51b8d$</string>
            <key>textureFileName</key>
            <string>Elements.png</string>
        </dict>
    </dict>
</plist>
