<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_Tlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1678},{429,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{429,67}}</string>
                <key>sourceSize</key>
                <string>{433,77}</string>
            </dict>
            <key>Effect_aura0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1615},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Effect_aura1.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1292},{106,158}}</string>
                <key>offset</key>
                <string>{46,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,17},{106,158}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>Effect_aura2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1351},{324,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{324,326}}</string>
                <key>sourceSize</key>
                <string>{326,326}</string>
            </dict>
            <key>Effect_aura3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1024},{326,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,326}}</string>
                <key>sourceSize</key>
                <string>{326,326}</string>
            </dict>
            <key>Effect_aura4.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1547},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Effect_partical0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1746},{239,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,50}}</string>
                <key>sourceSize</key>
                <string>{239,50}</string>
            </dict>
            <key>Effect_ray0.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1024},{249,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{249,250}}</string>
                <key>sourceSize</key>
                <string>{271,276}</string>
            </dict>
            <key>Effect_smokeW.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1676},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>Effect_spot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1385},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>Effect_spot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1694},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{59,59}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>Effect_spot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1687},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>Effect_star41.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1746},{30,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Effect_star42.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1746},{44,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{44,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Effect_star51.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1324},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{22,22}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>Effect_star52.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1292},{31,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{31,31}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>LightEffects.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1020,1022}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{1020,1022}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>partical-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1547},{117,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{117,139}}</string>
                <key>sourceSize</key>
                <string>{121,143}</string>
            </dict>
            <key>partical-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1152},{117,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{117,139}}</string>
                <key>sourceSize</key>
                <string>{121,143}</string>
            </dict>
            <key>partical-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1484},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>partical-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1603},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>partical-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1600},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>partical-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1746},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>partical-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1603},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>partical-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1575},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>partical-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1350},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>snow-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1385},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{23,27}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>snow-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1746},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{43,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>snow-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1024},{315,325}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{315,325}}</string>
                <key>sourceSize</key>
                <string>{343,343}</string>
            </dict>
            <key>snow-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1694},{84,81}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{84,81}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>snow-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1275},{220,208}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{220,208}}</string>
                <key>sourceSize</key>
                <string>{246,246}</string>
            </dict>
            <key>snow-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1351},{70,263}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{70,263}}</string>
                <key>sourceSize</key>
                <string>{100,265}</string>
            </dict>
            <key>snow-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1350},{203,196}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{203,196}}</string>
                <key>sourceSize</key>
                <string>{225,226}</string>
            </dict>
            <key>snow-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1484},{120,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{120,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>snoweffect-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1024},{127,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{127,127}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>snoweffect-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1451},{66,340}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{66,340}}</string>
                <key>sourceSize</key>
                <string>{70,346}</string>
            </dict>
            <key>snoweffect-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1451},{66,330}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{66,330}}</string>
                <key>sourceSize</key>
                <string>{70,346}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LightEffects.png</string>
            <key>size</key>
            <string>{1022,1797}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ca77f293e6f362d8d7c21ae8cc954fb:5128c57cf1fc4147cd5155ea00443316:302ac8560790d33d40189e91f6e779ea$</string>
            <key>textureFileName</key>
            <string>LightEffects.png</string>
        </dict>
    </dict>
</plist>
