<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WorldBG5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WorldBG5.png</string>
            <key>size</key>
            <string>{600,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f312b76a29df3e5f89214c97bbf943a:cc1e0afea1ddc78706115f1bb2511693:4591a07e0453fc1b5feed2c0d5630c2f$</string>
            <key>textureFileName</key>
            <string>WorldBG5.png</string>
        </dict>
    </dict>
</plist>
