<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loc_amazing.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,22},{104,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,22}}</string>
                <key>sourceSize</key>
                <string>{106,24}</string>
            </dict>
            <key>loc_awesome.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,22},{110,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,22}}</string>
                <key>sourceSize</key>
                <string>{112,24}</string>
            </dict>
            <key>loc_downloading.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,0},{37,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{37,14}}</string>
                <key>sourceSize</key>
                <string>{65,14}</string>
            </dict>
            <key>loc_excellent.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{113,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,22}}</string>
                <key>sourceSize</key>
                <string>{113,24}</string>
            </dict>
            <key>loc_familytree.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,0},{43,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,17}}</string>
                <key>sourceSize</key>
                <string>{43,17}</string>
            </dict>
            <key>loc_fivemovesleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,73},{85,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,39}}</string>
                <key>sourceSize</key>
                <string>{85,39}</string>
            </dict>
            <key>loc_good.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,44},{72,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,22}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>loc_great.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,22},{74,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,22}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>loc_help!.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
            <key>loc_maniatime.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,44},{74,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{128,26}</string>
            </dict>
            <key>loc_moregame.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{34,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,10}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>loc_newhighscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,44},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,29}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>loc_nopossiblemoves.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,73},{161,43}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,2},{161,43}}</string>
                <key>sourceSize</key>
                <string>{311,47}</string>
            </dict>
            <key>loc_targetguide.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,0},{50,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,14}}</string>
                <key>sourceSize</key>
                <string>{50,14}</string>
            </dict>
            <key>loc_thankyou!.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,44},{46,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,29}}</string>
                <key>sourceSize</key>
                <string>{46,29}</string>
            </dict>
            <key>loc_unbelivable.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,0},{133,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{133,22}}</string>
                <key>sourceSize</key>
                <string>{135,24}</string>
            </dict>
            <key>loc_welldone.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,73},{108,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{108,47}}</string>
                <key>sourceSize</key>
                <string>{234,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{354,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1faae72426631a9a81c5ea5e43c2e9fc:3082e3224bf5ac2273b3c583d7fa8317:be6c848313b26614c8bd797bb354641c$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
