<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UseButton0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
            <key>UseButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
            <key>decorate_daily_ip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{182,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,47}}</string>
                <key>sourceSize</key>
                <string>{182,47}</string>
            </dict>
            <key>loc_a_bestvalue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>loc_bestvalue.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,51},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,29}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>loc_fivemovesleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,51},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>loc_freegame.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,51},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>loc_moregame.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,51},{34,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,10}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>loc_x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>ui_LeftMoves.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,128},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>localized.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c283194a0ad46ec168328c524624620d:9b3ecac7beb0a48bf3d7158dfb87598b:2d964936ca309f20f1fdc1a9010a8273$</string>
            <key>textureFileName</key>
            <string>localized.pvr.ccz</string>
        </dict>
    </dict>
</plist>
