<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>decorate_daily_ip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,94}}</string>
                <key>sourceSize</key>
                <string>{364,94}</string>
            </dict>
            <key>loc_bestvalue.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>ui_LeftMoves.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{65,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,52}}</string>
                <key>sourceSize</key>
                <string>{65,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>localized.pvr.ccz</string>
            <key>size</key>
            <string>{481,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c147d845dce6b7d25c9693ff6a999739:81614cce75988a2ea86d486695cdc80b:72f387947676c4a2998f84a725912c4c$</string>
            <key>textureFileName</key>
            <string>localized.pvr.ccz</string>
        </dict>
    </dict>
</plist>
