<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{31,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>Xxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{19,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>a0.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{29,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>b0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{33,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{29,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>c0.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{33,31}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{33,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>e0.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>e1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{31,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{31,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>hengxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{25,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{25,11}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>jellolight-72.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,35}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>lingxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{17,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>none.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,2},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>random.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{32,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>shuxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{9,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{9,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elements.png</string>
            <key>size</key>
            <string>{886,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d55ea7f97ff49677d755c273a6405ca4:bf7350831c6c9f682492ecc9ab6ef877:3c253f52dcce18c24cfa724805a51b8d$</string>
            <key>textureFileName</key>
            <string>Elements.png</string>
        </dict>
    </dict>
</plist>
