<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{21,21}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{21,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{21,21}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{21,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{35,21}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{21,29}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{21,35}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{21,29}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,39},{21,35}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,39},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>1100.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,39},{35,29}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,29}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>1101.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,39},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>1110.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,39},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>1111.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,39},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>celectedgezi-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,76},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,76},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,8}</string>
            </dict>
            <key>flower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,76},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>flower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,76},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>flower_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,76},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>flower_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,76},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>gezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,76},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,76},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>grasswhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,76},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>gzclean.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>gznull.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,124},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>gzspawner.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,124},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>h1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,124},{36,12}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{36,12}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>h2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,124},{36,14}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{36,14}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,124},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,38}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,124},{12,38}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{12,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{14,38}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{14,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,166},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>spawner.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,166},{34,22}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,166},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{11,13}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,166},{3,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{3,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,166},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,166},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{11,13}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,166},{7,8}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{7,8}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,166},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>star7.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,166},{17,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{17,17}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Map.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:add4ac19b735d08f8105ff87e65eab95:841f5f04dc016999a9f36334ea62354b:5b0215ecf93e5dfc9e72a637b68b86b6$</string>
            <key>textureFileName</key>
            <string>Map.png</string>
        </dict>
    </dict>
</plist>
