<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,38},{63,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,40}}</string>
                <key>sourceSize</key>
                <string>{63,40}</string>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,79},{33,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,24}}</string>
                <key>sourceSize</key>
                <string>{33,24}</string>
            </dict>
            <key>c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,141},{18,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,8}}</string>
                <key>sourceSize</key>
                <string>{18,8}</string>
            </dict>
            <key>c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1},{75,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,36}}</string>
                <key>sourceSize</key>
                <string>{75,36}</string>
            </dict>
            <key>jelly.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1},{101,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{101,139}</string>
            </dict>
            <key>light_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,79},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>light_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,120},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>manialight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,150}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>ray-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1},{135,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,138}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1},{100,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIEffects.png</string>
            <key>size</key>
            <string>{673,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc7e08b948ea2ca4d554778eb0b90747:1/1$</string>
            <key>textureFileName</key>
            <string>UIEffects.png</string>
        </dict>
    </dict>
</plist>
