<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WorldBG4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WorldBG4.png</string>
            <key>size</key>
            <string>{300,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a02075685a4b9a3f6d1bb857b235e9a9:da63c81ad0736ab036b6dc40fd4617d1:b7fece520f682ea8d43cc24739b8b524$</string>
            <key>textureFileName</key>
            <string>WorldBG4.png</string>
        </dict>
    </dict>
</plist>
