<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WorldBG15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WorldBG15.png</string>
            <key>size</key>
            <string>{300,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2380ee0d063c028f33abdda0e59a8592:3282a32312dd25cf52b25a61b9428fe8:0ed104dfe222be0ce7acab8f49719191$</string>
            <key>textureFileName</key>
            <string>WorldBG15.png</string>
        </dict>
    </dict>
</plist>
