<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>16B.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,86}}</string>
                <key>sourceSize</key>
                <string>{78,86}</string>
            </dict>
            <key>16C.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{45,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,16}}</string>
                <key>sourceSize</key>
                <string>{45,16}</string>
            </dict>
            <key>16D.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{44,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,9}}</string>
                <key>sourceSize</key>
                <string>{44,9}</string>
            </dict>
            <key>16E.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{34,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>16F.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,68},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>16G.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,58},{8,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>16H.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,78},{6,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{6,10}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>16I.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,124},{17,13}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>16J.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,72},{10,7}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{10,7}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>16K.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,84},{7,9}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{7,9}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>16L.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,0},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>16M.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,139},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>16N.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{92,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,49}}</string>
                <key>sourceSize</key>
                <string>{92,49}</string>
            </dict>
            <key>16O.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,94},{80,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,55}}</string>
                <key>sourceSize</key>
                <string>{80,55}</string>
            </dict>
            <key>16P.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,26},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>16Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,58},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WorldNPC16.png</string>
            <key>size</key>
            <string>{151,151}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d1032cfc7593bf6d80dc933a9c3a4f6:53caea45757b5762c1e2d33cfbe823cd:4ca079b739ad105debf8000a63a8dd1f$</string>
            <key>textureFileName</key>
            <string>WorldNPC16.png</string>
        </dict>
    </dict>
</plist>
