<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UseButton0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{133,68}}</string>
                <key>sourceSize</key>
                <string>{137,70}</string>
            </dict>
            <key>UseButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{133,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{133,68}}</string>
                <key>sourceSize</key>
                <string>{137,70}</string>
            </dict>
            <key>decorate_daily_ip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{728,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,187}}</string>
                <key>sourceSize</key>
                <string>{728,187}</string>
            </dict>
            <key>loc_bestvalue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>loc_freegame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,2},{482,139}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{482,139}}</string>
                <key>sourceSize</key>
                <string>{488,149}</string>
            </dict>
            <key>loc_moregame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,2},{124,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{124,73}}</string>
                <key>sourceSize</key>
                <string>{138,83}</string>
            </dict>
            <key>loc_x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,2},{189,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,89}}</string>
                <key>sourceSize</key>
                <string>{191,91}</string>
            </dict>
            <key>ui_LeftMoves.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,2},{128,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,96}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>localized.png</string>
            <key>size</key>
            <string>{2024,191}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e6e751164dfc1322c4a2f92e86084f5:c5b7dc29b1abc918affc49d5292b404e:316750311be436fc14e0fcef7e29ca25$</string>
            <key>textureFileName</key>
            <string>localized.png</string>
        </dict>
    </dict>
</plist>
