<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UseButton0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{133,68}}</string>
                <key>sourceSize</key>
                <string>{137,70}</string>
            </dict>
            <key>UseButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{133,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{133,68}}</string>
                <key>sourceSize</key>
                <string>{137,70}</string>
            </dict>
            <key>decorate_daily_ip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{728,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,188}}</string>
                <key>sourceSize</key>
                <string>{728,188}</string>
            </dict>
            <key>loc_bestvalue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{162,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{162,162}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>loc_freegame.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,192},{187,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{187,88}}</string>
                <key>sourceSize</key>
                <string>{191,90}</string>
            </dict>
            <key>loc_moregame.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,192},{139,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{139,42}}</string>
                <key>sourceSize</key>
                <string>{145,48}</string>
            </dict>
            <key>loc_x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,192},{189,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,89}}</string>
                <key>sourceSize</key>
                <string>{191,91}</string>
            </dict>
            <key>ui_LeftMoves.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,192},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,100}}</string>
                <key>sourceSize</key>
                <string>{130,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>localized.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29c583198979f8593799f4a0557c3d7a:397c7361f8fdc436e53dfc06b481d8a1:316750311be436fc14e0fcef7e29ca25$</string>
            <key>textureFileName</key>
            <string>localized.png</string>
        </dict>
    </dict>
</plist>
