<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppLovinSdkKey</key>
	<string>scUi6v0EzBMdQb1qlOrd60AVlXcmslMJr3Byu_fh5J9h15rnnCXZWP9mLkFANNMCg9kH1l9w3De8E8bPwr01Bn</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-72pad.png</string>
		<string>Icon-76pad.png</string>
		<string>Icon-120pad.png</string>
		<string>Icon-152pad.png</string>
		<string>Icon-29pad.png</string>
		<string>Icon-50pad.png</string>
		<string>Icon-57pad.png</string>
		<string>Icon-58pad.png</string>
		<string>Icon-114pad.png</string>
		<string>Icon-144pad.png</string>
		<string>Icon-40pad.png</string>
		<string>Icon-80pad.png</string>
		<string>Icon-100pad.png</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>Icon-58pad</string>
		<string>Icon-29pad</string>
		<string>Icon-80pad</string>
		<string>Icon-40pad</string>
		<string>Icon-100pad</string>
		<string>Icon-50pad</string>
		<string>Icon-152pad</string>
		<string>Icon-76pad</string>
		<string>Icon-144pad</string>
		<string>Icon-72pad</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>${APPLICATION_BUNDLE_IDENTIFIER}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>JellyManiaHD</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.naughtycat.jellymaniahd</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>jellymaniahd</string>
				<string>fb208889659294336ipad</string>
				<string>fb208889659294336</string>
				<string>ADX1734</string>
				<string>aso766380107</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.5.16</string>
	<key>FacebookAppID</key>
	<string>208889659294336</string>
	<key>FacebookDisplayName</key>
	<string>Jelly Mania</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
