<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,156},{342,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,187}}</string>
                <key>sourceSize</key>
                <string>{342,187}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{348,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,190}}</string>
                <key>sourceSize</key>
                <string>{348,190}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1769},{428,451}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{428,451}}</string>
                <key>sourceSize</key>
                <string>{430,451}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{487,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,227}}</string>
                <key>sourceSize</key>
                <string>{487,227}</string>
            </dict>
            <key>055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{150,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,167}}</string>
                <key>sourceSize</key>
                <string>{150,167}</string>
            </dict>
            <key>056.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{127,152}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{127,152}}</string>
                <key>sourceSize</key>
                <string>{129,152}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{374,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,333}}</string>
                <key>sourceSize</key>
                <string>{374,333}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{378,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,290}}</string>
                <key>sourceSize</key>
                <string>{378,290}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2734},{372,554}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,554}}</string>
                <key>sourceSize</key>
                <string>{372,554}</string>
            </dict>
            <key>guangmang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1393},{393,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,374}}</string>
                <key>sourceSize</key>
                <string>{393,374}</string>
            </dict>
            <key>manhuaxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2222},{366,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,510}}</string>
                <key>sourceSize</key>
                <string>{366,510}</string>
            </dict>
            <key>xingguagn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{299,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,77}}</string>
                <key>sourceSize</key>
                <string>{299,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>danzhang.png</string>
            <key>size</key>
            <string>{498,3290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f30e3b791f3a3f09615653fef71662bf:baeeb83c0ed0758d79c682184dd12a44:0eba3519e51372cb806c3c54e48c54e0$</string>
            <key>textureFileName</key>
            <string>danzhang.png</string>
        </dict>
    </dict>
</plist>
