<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LogoutButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1},{492,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{492,150}}</string>
                <key>sourceSize</key>
                <string>{498,156}</string>
            </dict>
            <key>PrizeListButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,541},{534,171}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{534,171}}</string>
                <key>sourceSize</key>
                <string>{542,177}</string>
            </dict>
            <key>Tbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{948,482}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{948,482}}</string>
                <key>sourceSize</key>
                <string>{982,488}</string>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,720},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>ui-blueB2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1321},{240,135}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{240,135}}</string>
                <key>sourceSize</key>
                <string>{246,139}</string>
            </dict>
            <key>ui-greenB2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1321},{240,135}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{240,135}}</string>
                <key>sourceSize</key>
                <string>{246,139}</string>
            </dict>
            <key>ui_blueA1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1134},{388,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{388,235}}</string>
                <key>sourceSize</key>
                <string>{396,243}</string>
            </dict>
            <key>ui_blueB1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,713},{430,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{430,184}}</string>
                <key>sourceSize</key>
                <string>{438,192}</string>
            </dict>
            <key>ui_blueC1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,896},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>ui_gray_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,898},{394,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{394,235}}</string>
                <key>sourceSize</key>
                <string>{402,243}</string>
            </dict>
            <key>ui_greenA1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1214},{388,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{388,235}}</string>
                <key>sourceSize</key>
                <string>{396,243}</string>
            </dict>
            <key>ui_redA1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,484},{728,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,235}}</string>
                <key>sourceSize</key>
                <string>{728,235}</string>
            </dict>
            <key>ui_window2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,152},{437,388}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{437,388}}</string>
                <key>sourceSize</key>
                <string>{443,394}</string>
            </dict>
            <key>ui_window3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,713},{258,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,182}}</string>
                <key>sourceSize</key>
                <string>{258,182}</string>
            </dict>
            <key>ui_window4.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,955},{309,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,258}}</string>
                <key>sourceSize</key>
                <string>{309,258}</string>
            </dict>
            <key>ui_yellowC1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,720},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainUI.png</string>
            <key>size</key>
            <string>{1457,1457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2bcc4526f780f32f10f5065a9e37a63:5556bc9c491ff7c2e9c4a55016b72878:b39a64129b92a904641476ae1c3b69b8$</string>
            <key>textureFileName</key>
            <string>MainUI.png</string>
        </dict>
    </dict>
</plist>
