<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2374,144},{252,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,159}}</string>
                <key>sourceSize</key>
                <string>{252,159}</string>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2535,304},{133,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,97}}</string>
                <key>sourceSize</key>
                <string>{133,97}</string>
            </dict>
            <key>c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,556},{71,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,30}}</string>
                <key>sourceSize</key>
                <string>{71,30}</string>
            </dict>
            <key>c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2374,1},{301,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,142}}</string>
                <key>sourceSize</key>
                <string>{301,142}</string>
            </dict>
            <key>jelly.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1},{405,554}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,554}}</string>
                <key>sourceSize</key>
                <string>{405,554}</string>
            </dict>
            <key>light_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{2374,304},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>light_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2374,465},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>manialight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1023,601}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1023,601}}</string>
                <key>sourceSize</key>
                <string>{1023,601}</string>
            </dict>
            <key>ray-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,1},{541,551}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,551}}</string>
                <key>sourceSize</key>
                <string>{541,551}</string>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIEffects.png</string>
            <key>size</key>
            <string>{2676,603}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf90a5801dd92feff487e50e0466c712:1/1$</string>
            <key>textureFileName</key>
            <string>UIEffects.png</string>
        </dict>
    </dict>
</plist>
