<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,309},{435,386}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{435,386}}</string>
                <key>sourceSize</key>
                <string>{443,396}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,0},{463,185}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{463,185}}</string>
                <key>sourceSize</key>
                <string>{469,191}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,691},{368,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{368,247}}</string>
                <key>sourceSize</key>
                <string>{370,249}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,309},{377,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{377,380}}</string>
                <key>sourceSize</key>
                <string>{407,408}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1004},{49,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,60}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,465},{219,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,171}}</string>
                <key>sourceSize</key>
                <string>{219,171}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,103},{635,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,204}}</string>
                <key>sourceSize</key>
                <string>{635,204}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,103},{203,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,174}}</string>
                <key>sourceSize</key>
                <string>{203,174}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,876},{133,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,145}}</string>
                <key>sourceSize</key>
                <string>{133,145}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,691},{167,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,183}}</string>
                <key>sourceSize</key>
                <string>{167,183}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,697},{379,305}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{379,305}}</string>
                <key>sourceSize</key>
                <string>{395,327}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,691},{362,101}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{362,101}}</string>
                <key>sourceSize</key>
                <string>{366,105}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{755,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{755,101}}</string>
                <key>sourceSize</key>
                <string>{761,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unlimitlife.png</string>
            <key>size</key>
            <string>{1059,1059}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1e2d3d4a0cf40835f5cb52a13189ad1:eeb2ce2322dbe06df592659fd9e83213:29bfb02a1830cce4857f1e619daf1071$</string>
            <key>textureFileName</key>
            <string>unlimitlife.png</string>
        </dict>
    </dict>
</plist>
