<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_facebook1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>button_facebook2.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,0},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>font_downloading.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,0},{53,11}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{53,11}}</string>
                <key>sourceSize</key>
                <string>{65,11}</string>
            </dict>
            <key>font_maniatime.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,92},{116,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{116,22}}</string>
                <key>sourceSize</key>
                <string>{146,22}</string>
            </dict>
            <key>font_youwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{115,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,23}}</string>
                <key>sourceSize</key>
                <string>{115,23}</string>
            </dict>
            <key>loc_fivemovesleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,0},{76,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,92}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>mark_reward1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,0},{54,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,14}}</string>
                <key>sourceSize</key>
                <string>{54,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{231,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bf77204a6bc7280352ed2128f72f7c9:6dc2f45661bcec4c20e9e000d64bcc5d:d802218b942fc9271b1d4633e2de229d$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
