<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_facebook1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,61},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>button_facebook2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,61},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>info-shuffle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{77,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,21}}</string>
                <key>sourceSize</key>
                <string>{77,21}</string>
            </dict>
            <key>loc_x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>mark_+15moves.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,88},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>mark_+30moves.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,88},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>mark_+5moves.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,88},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>mark_bestvalue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>mark_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,25},{27,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,13}</string>
            </dict>
            <key>mark_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{21,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{21,11}}</string>
                <key>sourceSize</key>
                <string>{27,13}</string>
            </dict>
            <key>mark_harvest1.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,12},{24,11}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{24,11}}</string>
                <key>sourceSize</key>
                <string>{42,11}</string>
            </dict>
            <key>mark_harvest2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,12},{28,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{28,11}}</string>
                <key>sourceSize</key>
                <string>{42,11}</string>
            </dict>
            <key>mark_harvest3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,12},{28,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{28,11}}</string>
                <key>sourceSize</key>
                <string>{42,11}</string>
            </dict>
            <key>mark_newrecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,61},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>mark_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,12},{27,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,13}</string>
            </dict>
            <key>moves_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{13,6}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{13,6}}</string>
                <key>sourceSize</key>
                <string>{23,6}</string>
            </dict>
            <key>text_highscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{36,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{36,8}}</string>
                <key>sourceSize</key>
                <string>{56,8}</string>
            </dict>
            <key>text_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{24,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{24,8}}</string>
                <key>sourceSize</key>
                <string>{38,8}</string>
            </dict>
            <key>text_useboosts.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,2},{37,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{37,7}}</string>
                <key>sourceSize</key>
                <string>{51,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>localized.pvr.ccz</string>
            <key>size</key>
            <string>{127,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b73ab791f4267bb82a7959c424c39446:1f82eb98c2e0109d367666e3ca919ca0:72f387947676c4a2998f84a725912c4c$</string>
            <key>textureFileName</key>
            <string>localized.pvr.ccz</string>
        </dict>
    </dict>
</plist>
