<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UseButton0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,33}}</string>
                <key>sourceSize</key>
                <string>{68,35}</string>
            </dict>
            <key>UseButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,33}}</string>
                <key>sourceSize</key>
                <string>{68,35}</string>
            </dict>
            <key>decorate_daily_ip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{364,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,94}}</string>
                <key>sourceSize</key>
                <string>{364,94}</string>
            </dict>
            <key>loc_bestvalue.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>loc_freegame.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{240,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{240,70}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>loc_moregame.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{61,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{61,36}}</string>
                <key>sourceSize</key>
                <string>{69,42}</string>
            </dict>
            <key>loc_x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,2},{94,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,46}}</string>
                <key>sourceSize</key>
                <string>{96,46}</string>
            </dict>
            <key>ui_LeftMoves.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,48}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>localized.png</string>
            <key>size</key>
            <string>{1016,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05273d513309746ade3c3b5216dd62c6:c5b7dc29b1abc918affc49d5292b404e:316750311be436fc14e0fcef7e29ca25$</string>
            <key>textureFileName</key>
            <string>localized.png</string>
        </dict>
    </dict>
</plist>
