<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_facebook1.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,90},{183,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,181}}</string>
                <key>sourceSize</key>
                <string>{183,181}</string>
            </dict>
            <key>button_facebook2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,90},{173,171}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{173,171}}</string>
                <key>sourceSize</key>
                <string>{183,181}</string>
            </dict>
            <key>info-shuffle.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,294},{615,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,171}}</string>
                <key>sourceSize</key>
                <string>{615,171}</string>
            </dict>
            <key>loc_x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,294},{378,180}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{378,180}}</string>
                <key>sourceSize</key>
                <string>{382,182}</string>
            </dict>
            <key>mark_+15moves.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,90},{204,202}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{204,202}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>mark_+30moves.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,294},{206,202}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{206,202}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>mark_+5moves.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{204,202}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{204,202}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>mark_bestvalue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,90},{193,195}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{193,195}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>mark_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{214,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{214,85}}</string>
                <key>sourceSize</key>
                <string>{216,101}</string>
            </dict>
            <key>mark_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{168,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{168,85}}</string>
                <key>sourceSize</key>
                <string>{216,101}</string>
            </dict>
            <key>mark_harvest1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{191,82}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,6},{191,82}}</string>
                <key>sourceSize</key>
                <string>{339,88}</string>
            </dict>
            <key>mark_harvest2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,2},{223,82}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,6},{223,82}}</string>
                <key>sourceSize</key>
                <string>{339,88}</string>
            </dict>
            <key>mark_harvest3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{225,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,2},{225,86}}</string>
                <key>sourceSize</key>
                <string>{339,88}</string>
            </dict>
            <key>mark_newrecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,90},{193,195}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{193,195}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>mark_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,2},{216,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{216,83}}</string>
                <key>sourceSize</key>
                <string>{216,101}</string>
            </dict>
            <key>moves_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{92,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>text_highscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,90},{286,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,3},{286,58}}</string>
                <key>sourceSize</key>
                <string>{450,66}</string>
            </dict>
            <key>text_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{178,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,6},{178,56}}</string>
                <key>sourceSize</key>
                <string>{300,66}</string>
            </dict>
            <key>text_useboosts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{290,42}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,6},{290,42}}</string>
                <key>sourceSize</key>
                <string>{408,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>localized.png</string>
            <key>size</key>
            <string>{1538,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78bbf1e25d6cfeb3f0e6e17b8759170a:1f82eb98c2e0109d367666e3ca919ca0:56b6de8358278e6c91f684806c2c4546$</string>
            <key>textureFileName</key>
            <string>localized.png</string>
        </dict>
    </dict>
</plist>
