<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loc_amazing.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,46},{208,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{208,46}}</string>
                <key>sourceSize</key>
                <string>{212,48}</string>
            </dict>
            <key>loc_awesome.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,46},{221,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{221,46}}</string>
                <key>sourceSize</key>
                <string>{223,48}</string>
            </dict>
            <key>loc_downloading.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,0},{73,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{73,28}}</string>
                <key>sourceSize</key>
                <string>{131,28}</string>
            </dict>
            <key>loc_excellent.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{225,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,46}}</string>
                <key>sourceSize</key>
                <string>{227,48}</string>
            </dict>
            <key>loc_familytree.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{85,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,34}}</string>
                <key>sourceSize</key>
                <string>{85,34}</string>
            </dict>
            <key>loc_fivemovesleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{170,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>loc_good.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,92},{145,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{145,46}}</string>
                <key>sourceSize</key>
                <string>{147,48}</string>
            </dict>
            <key>loc_great.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,46},{150,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,46}}</string>
                <key>sourceSize</key>
                <string>{152,48}</string>
            </dict>
            <key>loc_help!.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,0},{59,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,34}}</string>
                <key>sourceSize</key>
                <string>{59,34}</string>
            </dict>
            <key>loc_maniatime.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,92},{146,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{256,52}</string>
            </dict>
            <key>loc_moregame.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{68,20}}</string>
                <key>sourceSize</key>
                <string>{72,24}</string>
            </dict>
            <key>loc_newhighscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,92},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>loc_nopossiblemoves.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,150},{322,86}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,4},{322,86}}</string>
                <key>sourceSize</key>
                <string>{622,94}</string>
            </dict>
            <key>loc_targetguide.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{101,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,27}}</string>
                <key>sourceSize</key>
                <string>{101,27}</string>
            </dict>
            <key>loc_thankyou!.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,92},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,58}}</string>
                <key>sourceSize</key>
                <string>{92,58}</string>
            </dict>
            <key>loc_unbelivable.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{269,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,46}}</string>
                <key>sourceSize</key>
                <string>{271,48}</string>
            </dict>
            <key>loc_welldone.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,150},{217,92}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,0},{217,92}}</string>
                <key>sourceSize</key>
                <string>{469,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{709,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cebc4ef046f9d7873d4e4e2857b85670:3082e3224bf5ac2273b3c583d7fa8317:be6c848313b26614c8bd797bb354641c$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
