<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slider_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,7}}</string>
                <key>sourceSize</key>
                <string>{150,7}</string>
            </dict>
            <key>slider_barbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,11},{150,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,7}}</string>
                <key>sourceSize</key>
                <string>{150,7}</string>
            </dict>
            <key>slider_drag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>ui_button_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,20},{67,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,24}}</string>
                <key>sourceSize</key>
                <string>{67,24}</string>
            </dict>
            <key>ui_icon_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,20},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Editor.pvr.ccz</string>
            <key>size</key>
            <string>{154,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d06c1cc1a02d7ffc7c61320e3c071b09:2bbe4a36a783f16e69d94913dde86882:488d68f9461279a5d06e19b5bd9495ba$</string>
            <key>textureFileName</key>
            <string>Editor.pvr.ccz</string>
        </dict>
    </dict>
</plist>
