<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,136},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{22,23}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>4kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,667},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>5--08.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,833},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>5--09.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,814},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,236},{24,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{24,27}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,627},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,587},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,547},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>57.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,507},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>59.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,467},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>5kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,427},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>61.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,264},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,782},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,742},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,702},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,662},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>68.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,622},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>T.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,208},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{28,27}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>T1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,354},{115,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{115,27}}</string>
                <key>sourceSize</key>
                <string>{115,29}</string>
            </dict>
            <key>Tkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,582},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>baidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,542},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>bear-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,472},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>bear-47.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,561},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,29}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>bear-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,531},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,29}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,122},{42,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{42,45}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>faceNEW-66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,382},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,39}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>faceNEW-69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,264},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>flash-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,691},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>flash-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,757},{38,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,13}}</string>
                <key>sourceSize</key>
                <string>{38,13}</string>
            </dict>
            <key>flash-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,264},{13,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,39}}</string>
                <key>sourceSize</key>
                <string>{13,39}</string>
            </dict>
            <key>gezistars-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,845},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{9,9}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>gezistars-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,160},{13,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{13,7}</string>
            </dict>
            <key>gezistars-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,811},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>ice-58.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,671},{12,19}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-59.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,645},{24,23}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-60.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,833},{20,11}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{20,11}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-61.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,645},{12,25}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{12,25}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-62.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,771},{18,21}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,21}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-63.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,795},{10,19}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{10,19}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-64.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,382},{14,27}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{14,27}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-65.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,168},{32,15}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{32,15}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-66.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,691},{22,15}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{22,15}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,502},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-68.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,815},{10,15}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-69.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,106},{18,29}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{18,29}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-70.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,783},{26,39}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-71.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,707},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-72.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,168},{28,39}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-73.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,74},{18,31}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{18,31}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-74.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,793},{10,17}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{10,17}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ice-75.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,845},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>matchlights-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,339},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>matchlights-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,795},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>sence effct-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,771},{21,23}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{21,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>sence effct-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,323},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{15,15}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>sence effct-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,823},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>shadow-57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,323},{99,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{99,30}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>spoon-49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,186},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{88,77}</string>
            </dict>
            <key>straw-42.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1},{59,72}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,103},{59,72}}</string>
                <key>sourceSize</key>
                <string>{61,190}</string>
            </dict>
            <key>straw-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{49,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{49,184}}</string>
                <key>sourceSize</key>
                <string>{61,190}</string>
            </dict>
            <key>straw-44.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,619},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{33,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>straw-45.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,410},{34,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{34,29}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>straw-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,822},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,31}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>straw-47.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,591},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,27}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>straw-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,440},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{32,31}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>sugar-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,707},{39,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{39,27}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>sugar-51.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,410},{40,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,16}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>sugar-52.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,669},{24,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>sugar-53.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,382},{51,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,27}}</string>
                <key>sourceSize</key>
                <string>{53,27}</string>
            </dict>
            <key>suger.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,462},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>turn bad-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,422},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>turn bad-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,747},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,35}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>turn good-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,502},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>turn good-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,735},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>turn good-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,304},{49,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,18}}</string>
                <key>sourceSize</key>
                <string>{49,18}</string>
            </dict>
            <key>turn good-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,845},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,74},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GridEffects.pvr.ccz</string>
            <key>size</key>
            <string>{117,856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e94865c2de52238d5016d861c72b2823:7f03cfa35b083b185a7d585a813a8fcc:42c9c8fa5b07d75c1ef9885afa68b6a4$</string>
            <key>textureFileName</key>
            <string>GridEffects.pvr.ccz</string>
        </dict>
    </dict>
</plist>
