<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,79},{107,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{107,95}}</string>
                <key>sourceSize</key>
                <string>{111,99}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,0},{115,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,46}}</string>
                <key>sourceSize</key>
                <string>{117,48}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,175},{93,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,62}}</string>
                <key>sourceSize</key>
                <string>{93,62}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,79},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{94,94}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{12,15}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,117},{55,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,43}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,26},{159,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,51}}</string>
                <key>sourceSize</key>
                <string>{159,51}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,26},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,223},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,175},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{95,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{95,76}}</string>
                <key>sourceSize</key>
                <string>{99,82}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,239},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,24}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{188,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{188,24}}</string>
                <key>sourceSize</key>
                <string>{190,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unlimitlife.pvr.ccz</string>
            <key>size</key>
            <string>{263,263}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecdada47b2c6100ff8b062b8a9597325:eeb2ce2322dbe06df592659fd9e83213:770726f5f9e442ee76758d17e68d9b3d$</string>
            <key>textureFileName</key>
            <string>unlimitlife.pvr.ccz</string>
        </dict>
    </dict>
</plist>
