<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WorldBG7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WorldBG7.pvr.ccz</string>
            <key>size</key>
            <string>{300,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b555e90fe4e71564a9a4d899041c74f:716ba0b3cf33534aee71c1212f44c9e9:bfece2d9f70d1fd7d5ab27ade9aa904d$</string>
            <key>textureFileName</key>
            <string>WorldBG7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
