<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loc_amazing.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,116},{418,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{418,91}}</string>
                <key>sourceSize</key>
                <string>{424,97}</string>
            </dict>
            <key>loc_awesome.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,116},{441,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{441,91}}</string>
                <key>sourceSize</key>
                <string>{447,97}</string>
            </dict>
            <key>loc_downloading.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,0},{250,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{250,41}}</string>
                <key>sourceSize</key>
                <string>{262,43}</string>
            </dict>
            <key>loc_excellent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,116},{448,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{448,91}}</string>
                <key>sourceSize</key>
                <string>{454,97}</string>
            </dict>
            <key>loc_familytree.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,0},{221,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,68}}</string>
                <key>sourceSize</key>
                <string>{221,68}</string>
            </dict>
            <key>loc_fivemovesleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,311},{532,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,161}}</string>
                <key>sourceSize</key>
                <string>{532,161}</string>
            </dict>
            <key>loc_good.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,0},{289,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{289,91}}</string>
                <key>sourceSize</key>
                <string>{295,97}</string>
            </dict>
            <key>loc_great.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{298,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{298,91}}</string>
                <key>sourceSize</key>
                <string>{304,97}</string>
            </dict>
            <key>loc_help!.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{114,66}}</string>
                <key>sourceSize</key>
                <string>{118,68}</string>
            </dict>
            <key>loc_maniatime.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,207},{508,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{508,104}}</string>
                <key>sourceSize</key>
                <string>{512,104}</string>
            </dict>
            <key>loc_moregame.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{125,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,65}}</string>
                <key>sourceSize</key>
                <string>{127,67}</string>
            </dict>
            <key>loc_newhighscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,0},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{114,114}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>loc_nopossiblemoves.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,311},{605,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,103}}</string>
                <key>sourceSize</key>
                <string>{605,103}</string>
            </dict>
            <key>loc_shuffle.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,207},{410,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{410,104}}</string>
                <key>sourceSize</key>
                <string>{512,104}</string>
            </dict>
            <key>loc_targetguide.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,0},{220,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,54}}</string>
                <key>sourceSize</key>
                <string>{220,54}</string>
            </dict>
            <key>loc_thankyou!.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,0},{184,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,116}}</string>
                <key>sourceSize</key>
                <string>{184,116}</string>
            </dict>
            <key>loc_unbelivable.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,207},{536,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{536,91}}</string>
                <key>sourceSize</key>
                <string>{542,97}</string>
            </dict>
            <key>loc_welldone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,311},{603,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{603,143}}</string>
                <key>sourceSize</key>
                <string>{613,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1740,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87bbff1e433370408484bcbd3b54236b:b6f99b43a3356e60fb3841b9ae98b13f:be6c848313b26614c8bd797bb354641c$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
