<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UseButton0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{267,136}}</string>
                <key>sourceSize</key>
                <string>{273,140}</string>
            </dict>
            <key>UseButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{267,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{267,136}}</string>
                <key>sourceSize</key>
                <string>{273,140}</string>
            </dict>
            <key>decorate_daily_ip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{1456,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1456,375}}</string>
                <key>sourceSize</key>
                <string>{1456,375}</string>
            </dict>
            <key>loc_a_bestvalue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{165,165}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>loc_bestvalue.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,379},{229,229}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{229,229}}</string>
                <key>sourceSize</key>
                <string>{249,249}</string>
            </dict>
            <key>loc_fivemovesleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,379},{580,603}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,603}}</string>
                <key>sourceSize</key>
                <string>{580,603}</string>
            </dict>
            <key>loc_freegame.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,379},{375,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{375,176}}</string>
                <key>sourceSize</key>
                <string>{381,180}</string>
            </dict>
            <key>loc_moregame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,379},{277,82}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{277,82}}</string>
                <key>sourceSize</key>
                <string>{289,96}</string>
            </dict>
            <key>loc_x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,379},{378,180}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{378,180}}</string>
                <key>sourceSize</key>
                <string>{382,182}</string>
            </dict>
            <key>ui_LeftMoves.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{257,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,200}}</string>
                <key>sourceSize</key>
                <string>{257,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>localized.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:803579c736e729dcc9d846047dcd00a0:9b3ecac7beb0a48bf3d7158dfb87598b:316750311be436fc14e0fcef7e29ca25$</string>
            <key>textureFileName</key>
            <string>localized.png</string>
        </dict>
    </dict>
</plist>
