<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slider_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{601,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,25}}</string>
                <key>sourceSize</key>
                <string>{601,27}</string>
            </dict>
            <key>slider_barbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{601,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,27}}</string>
                <key>sourceSize</key>
                <string>{601,27}</string>
            </dict>
            <key>slider_drag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>ui_button_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{268,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,96}}</string>
                <key>sourceSize</key>
                <string>{268,96}</string>
            </dict>
            <key>ui_icon_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,2},{115,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,98}}</string>
                <key>sourceSize</key>
                <string>{115,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Editor.pvr.ccz</string>
            <key>size</key>
            <string>{1713,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cda821ace3bd45151565497f0aeaf17:2bbe4a36a783f16e69d94913dde86882:488d68f9461279a5d06e19b5bd9495ba$</string>
            <key>textureFileName</key>
            <string>Editor.pvr.ccz</string>
        </dict>
    </dict>
</plist>
