<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tree_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1536,2048}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,2048}}</string>
                <key>sourceSize</key>
                <string>{1536,2048}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FamilyTree.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e039e98c37b5d2827d78dafbc33f219d:068b92dde127fb858edd1eea483cb10d:2daf374309a5fa487d4f2861f79dfe75$</string>
            <key>textureFileName</key>
            <string>FamilyTree.pvr.ccz</string>
        </dict>
    </dict>
</plist>
