<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_Tlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,575},{858,136}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{858,136}}</string>
                <key>sourceSize</key>
                <string>{866,154}</string>
            </dict>
            <key>Effect_aura0.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,752},{123,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{123,123}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>Effect_aura1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,501},{215,321}}</string>
                <key>offset</key>
                <string>{90,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,29},{215,321}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>Effect_daily.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,501},{268,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,250}}</string>
                <key>sourceSize</key>
                <string>{268,250}</string>
            </dict>
            <key>Effect_partical0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,712},{478,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,100}}</string>
                <key>sourceSize</key>
                <string>{478,100}</string>
            </dict>
            <key>Effect_ray0.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1},{499,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{499,499}}</string>
                <key>sourceSize</key>
                <string>{541,551}</string>
            </dict>
            <key>Effect_ray1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{921,573}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,15},{921,573}}</string>
                <key>sourceSize</key>
                <string>{1023,601}</string>
            </dict>
            <key>Effect_smokeW.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,712},{182,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,186}}</string>
                <key>sourceSize</key>
                <string>{182,186}</string>
            </dict>
            <key>Effect_spot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,638},{34,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{34,34}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>Effect_spot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,752},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{119,119}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Effect_spot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,712},{171,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>Effect_star41.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,575},{60,62}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Effect_star42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,752},{88,88}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Effect_star51.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,813},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,43}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>Effect_star52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,813},{63,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{63,63}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LightEffects.pvr.ccz</string>
            <key>size</key>
            <string>{1423,899}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:010b209a5e0851c444cbe919a216f917:ff6ff0b81ca16ed4be922a27917e13bb:ff5627392ad63d801e658d3ca576f515$</string>
            <key>textureFileName</key>
            <string>LightEffects.pvr.ccz</string>
        </dict>
    </dict>
</plist>
