<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GiftonMapIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,1010},{87,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,84}}</string>
                <key>sourceSize</key>
                <string>{91,86}</string>
            </dict>
            <key>GiftonMapIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,1647},{94,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>GiftonMapIcon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1743},{105,104}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{111,104}</string>
            </dict>
            <key>Pan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,1417},{204,114}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{204,114}}</string>
                <key>sourceSize</key>
                <string>{218,126}</string>
            </dict>
            <key>Spot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,674},{42,32}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{42,32}}</string>
                <key>sourceSize</key>
                <string>{52,36}</string>
            </dict>
            <key>arrow-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1776},{88,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{88,79}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1724},{252,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,159}}</string>
                <key>sourceSize</key>
                <string>{252,159}</string>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1770},{131,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,95}}</string>
                <key>sourceSize</key>
                <string>{133,97}</string>
            </dict>
            <key>c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,996},{63,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{63,30}}</string>
                <key>sourceSize</key>
                <string>{71,30}</string>
            </dict>
            <key>c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,564},{301,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,142}}</string>
                <key>sourceSize</key>
                <string>{301,142}</string>
            </dict>
            <key>cage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1189},{301,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,533}}</string>
                <key>sourceSize</key>
                <string>{301,533}</string>
            </dict>
            <key>cage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,726},{301,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,282}}</string>
                <key>sourceSize</key>
                <string>{301,282}</string>
            </dict>
            <key>cage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,330},{301,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,232}}</string>
                <key>sourceSize</key>
                <string>{301,232}</string>
            </dict>
            <key>cage4.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,553},{346,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{346,207}}</string>
                <key>sourceSize</key>
                <string>{362,217}</string>
            </dict>
            <key>cage5.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{344,549}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{344,549}}</string>
                <key>sourceSize</key>
                <string>{362,553}</string>
            </dict>
            <key>dl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{324,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{324,326}}</string>
                <key>sourceSize</key>
                <string>{332,332}</string>
            </dict>
            <key>empty-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1737},{1,1}}</string>
                <key>offset</key>
                <string>{-100,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>growingjelly-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,1725},{95,91}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{95,91}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>growingjelly-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1691},{100,83}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{100,83}}</string>
                <key>sourceSize</key>
                <string>{102,95}</string>
            </dict>
            <key>halo.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1038},{300,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{300,192}}</string>
                <key>sourceSize</key>
                <string>{310,202}</string>
            </dict>
            <key>jelly.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{405,554}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,554}}</string>
                <key>sourceSize</key>
                <string>{405,554}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,2},{252,284}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{252,284}}</string>
                <key>sourceSize</key>
                <string>{328,326}</string>
            </dict>
            <key>map position-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,417},{298,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,307}}</string>
                <key>sourceSize</key>
                <string>{298,307}</string>
            </dict>
            <key>map-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1375},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{112,112}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>map-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1770},{142,112}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{142,112}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>map-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1489},{112,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,111}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>map-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1726},{142,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{142,112}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>map-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,1630},{94,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>map-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1630},{114,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{114,112}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>map-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,1744},{128,68}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,72},{128,68}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>map-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1737},{116,120}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{116,120}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>map-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1737},{116,118}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{116,118}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>map-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,740},{193,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{193,192}}</string>
                <key>sourceSize</key>
                <string>{261,236}</string>
            </dict>
            <key>map-53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,1119},{98,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{98,126}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>map-54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1726},{121,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{121,157}}</string>
                <key>sourceSize</key>
                <string>{157,207}</string>
            </dict>
            <key>map-55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,1247},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{96,126}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>map-56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1726},{121,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{121,157}}</string>
                <key>sourceSize</key>
                <string>{157,207}</string>
            </dict>
            <key>map-57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{653,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,38},{653,629}}</string>
                <key>sourceSize</key>
                <string>{741,705}</string>
            </dict>
            <key>mapstar-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1010},{66,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{66,64}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>mapstar-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,614},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{62,58}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>mapstar-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,934},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>mapstar-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1780},{116,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{116,76}}</string>
                <key>sourceSize</key>
                <string>{128,78}</string>
            </dict>
            <key>mapstar-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1780},{145,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{145,78}}</string>
                <key>sourceSize</key>
                <string>{149,78}</string>
            </dict>
            <key>outoffcage-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{261,413}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{261,413}}</string>
                <key>sourceSize</key>
                <string>{315,437}</string>
            </dict>
            <key>outoffcage-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,633},{227,403}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{227,403}}</string>
                <key>sourceSize</key>
                <string>{315,437}</string>
            </dict>
            <key>outoffcage-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,996},{261,203}}</string>
                <key>offset</key>
                <string>{0,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,218},{261,203}}</string>
                <key>sourceSize</key>
                <string>{315,437}</string>
            </dict>
            <key>outoffcage-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1232},{191,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{191,190}}</string>
                <key>sourceSize</key>
                <string>{261,236}</string>
            </dict>
            <key>outoffcage-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,1295},{201,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{201,120}}</string>
                <key>sourceSize</key>
                <string>{261,180}</string>
            </dict>
            <key>outoffcage-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,1533},{177,95}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{177,95}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>outoffcage-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1647},{163,77}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{163,77}}</string>
                <key>sourceSize</key>
                <string>{207,103}</string>
            </dict>
            <key>outoffcage-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,330},{33,24}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,44},{33,24}}</string>
                <key>sourceSize</key>
                <string>{207,104}</string>
            </dict>
            <key>outoffcage-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,708},{366,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,231}}</string>
                <key>sourceSize</key>
                <string>{366,231}</string>
            </dict>
            <key>outoffcage-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,762},{367,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,232}}</string>
                <key>sourceSize</key>
                <string>{367,232}</string>
            </dict>
            <key>outoffcage-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,533},{205,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{205,205}}</string>
                <key>sourceSize</key>
                <string>{261,235}</string>
            </dict>
            <key>outoffcage-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,533},{61,79}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{61,79}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>outoffcage-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,288},{227,243}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,75},{227,243}}</string>
                <key>sourceSize</key>
                <string>{315,437}</string>
            </dict>
            <key>outoffcage-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1602},{93,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{93,87}}</string>
                <key>sourceSize</key>
                <string>{109,103}</string>
            </dict>
            <key>r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1471},{239,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{239,174}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1295},{239,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{239,174}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,941},{243,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{243,176}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1190},{243,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{243,178}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,941},{243,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{243,176}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1548},{241,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{241,176}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1119},{241,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{241,174}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1370},{243,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{243,176}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r17.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1201},{243,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{243,178}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r18.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1559},{243,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{243,176}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1602},{243,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{243,176}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1412},{243,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{243,178}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1232},{243,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{243,178}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1381},{241,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{241,176}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1119},{241,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{241,174}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1424},{243,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{243,176}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1010},{243,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{243,178}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
            <key>r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1592},{243,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{243,176}}</string>
                <key>sourceSize</key>
                <string>{249,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WorldMapButtons.pvr.ccz</string>
            <key>size</key>
            <string>{1885,1885}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8a41f43b99a2d8f1a5472921ab9f3b6:2bb2b63fb9ac7cd44571978c3d7e3305:b5975bb19797cfdfe5834dc0f9f22c52$</string>
            <key>textureFileName</key>
            <string>WorldMapButtons.pvr.ccz</string>
        </dict>
    </dict>
</plist>
