<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loc_amazing.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,22},{104,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,22}}</string>
                <key>sourceSize</key>
                <string>{106,24}</string>
            </dict>
            <key>loc_awesome.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,22},{110,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,22}}</string>
                <key>sourceSize</key>
                <string>{112,24}</string>
            </dict>
            <key>loc_downloading.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,0},{37,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{37,14}}</string>
                <key>sourceSize</key>
                <string>{65,14}</string>
            </dict>
            <key>loc_excellent.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,22},{113,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,22}}</string>
                <key>sourceSize</key>
                <string>{113,24}</string>
            </dict>
            <key>loc_familytree.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,0},{43,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,17}}</string>
                <key>sourceSize</key>
                <string>{43,17}</string>
            </dict>
            <key>loc_fivemovesleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,51},{85,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,39}}</string>
                <key>sourceSize</key>
                <string>{85,39}</string>
            </dict>
            <key>loc_good.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,22},{72,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,22}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>loc_great.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{74,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,22}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>loc_help!.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
            <key>loc_maniatime.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,51},{136,45}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,1},{136,45}}</string>
                <key>sourceSize</key>
                <string>{234,47}</string>
            </dict>
            <key>loc_moregame.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{34,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,10}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>loc_newhighscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,22},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,29}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>loc_nopossiblemoves.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,51},{157,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,4},{157,39}}</string>
                <key>sourceSize</key>
                <string>{311,47}</string>
            </dict>
            <key>loc_targetguide.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,0},{50,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,14}}</string>
                <key>sourceSize</key>
                <string>{50,14}</string>
            </dict>
            <key>loc_thankyou!.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,22},{46,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,29}}</string>
                <key>sourceSize</key>
                <string>{46,29}</string>
            </dict>
            <key>loc_unbelivable.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,0},{133,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{133,22}}</string>
                <key>sourceSize</key>
                <string>{135,24}</string>
            </dict>
            <key>loc_welldone.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,51},{108,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{108,47}}</string>
                <key>sourceSize</key>
                <string>{234,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{486,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bb1e8c214567ba1fc9572c404536d3d:b9681cf1459b4322a0346ba1d214cfb4:be6c848313b26614c8bd797bb354641c$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
