<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,101},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,27},{61,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,28}}</string>
                <key>sourceSize</key>
                <string>{61,28}</string>
            </dict>
            <key>055.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>056.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,57},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{47,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,36}}</string>
                <key>sourceSize</key>
                <string>{47,36}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,159},{47,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,69}}</string>
                <key>sourceSize</key>
                <string>{47,69}</string>
            </dict>
            <key>guangmang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>manhuaxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{44,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>xingguagn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,10}}</string>
                <key>sourceSize</key>
                <string>{37,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>danzhang.pvr.ccz</string>
            <key>size</key>
            <string>{125,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba8da60ad3774f6e1ab2033768ba0112:baeeb83c0ed0758d79c682184dd12a44:19d327cb4375d7716f8cdeeb5c53beea$</string>
            <key>textureFileName</key>
            <string>danzhang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
