<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,108},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{11,12}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>4kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,346},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>5--08.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,37},{6,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,9}}</string>
                <key>sourceSize</key>
                <string>{6,9}</string>
            </dict>
            <key>5--09.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,137},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,405},{13,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{13,14}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,325},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,304},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,283},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>57.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,262},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>59.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,241},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>5kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,220},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,429},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,408},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,387},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,366},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,345},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>68.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,324},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>T.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,364},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{15,14}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>T1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,182},{57,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{57,12}}</string>
                <key>sourceSize</key>
                <string>{57,14}</string>
            </dict>
            <key>Tkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,303},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>baidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,282},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>bear-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,388},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bear-47.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,347},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bear-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,330},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>faceNEW-66.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,61},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>faceNEW-69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,135},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>flash-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,461},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>flash-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,445},{19,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,7}}</string>
                <key>sourceSize</key>
                <string>{19,7}</string>
            </dict>
            <key>flash-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,367},{7,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,20}}</string>
                <key>sourceSize</key>
                <string>{7,20}</string>
            </dict>
            <key>gezistars-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,54},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>gezistars-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,147},{7,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,3}}</string>
                <key>sourceSize</key>
                <string>{7,3}</string>
            </dict>
            <key>gezistars-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,47},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>ice-58.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,72},{7,10}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-59.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,152},{13,12}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-60.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,130},{11,6}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{11,6}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-61.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,195},{7,14}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{7,14}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-62.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,95},{11,12}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{11,12}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-63.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,61},{7,10}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{7,10}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-64.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,388},{7,16}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{7,16}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-65.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,379},{15,8}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{15,8}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-66.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,121},{11,8}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{11,8}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,261},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-68.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,146},{5,8}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{5,8}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-69.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,135},{9,16}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{9,16}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-70.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,367},{13,20}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-71.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,220},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-72.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,292},{15,20}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-73.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,388},{9,16}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{9,16}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-74.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,137},{5,8}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{5,8}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>ice-75.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,420},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>matchlights-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,453},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>matchlights-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,83},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>sence effct-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,420},{13,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>sence effct-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,210},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{9,9}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>sence effct-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,313},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>shadow-57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,165},{50,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,16}}</string>
                <key>sourceSize</key>
                <string>{52,18}</string>
            </dict>
            <key>spoon-49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,95},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>straw-42.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,1},{30,35}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,95}</string>
            </dict>
            <key>straw-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{26,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,93}}</string>
                <key>sourceSize</key>
                <string>{30,95}</string>
            </dict>
            <key>straw-44.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,450},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{16,13}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>straw-45.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,275},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,16}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>straw-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,258},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,16}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>straw-47.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,435},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{15,14}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>straw-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,241},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,16}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>sugar-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,405},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>sugar-51.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,435},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>sugar-52.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,453},{13,10}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>sugar-53.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,195},{26,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,14}</string>
            </dict>
            <key>suger.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,240},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>turn bad-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,219},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>turn bad-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,450},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,18}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>turn good-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,420},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>turn good-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,83},{19,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,11}}</string>
                <key>sourceSize</key>
                <string>{19,11}</string>
            </dict>
            <key>turn good-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,210},{25,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,9}}</string>
                <key>sourceSize</key>
                <string>{25,9}</string>
            </dict>
            <key>turn good-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,464},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,37},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GridEffects.pvr.ccz</string>
            <key>size</key>
            <string>{59,469}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcdeead1dab07528d2174147b53c788c:7f03cfa35b083b185a7d585a813a8fcc:42c9c8fa5b07d75c1ef9885afa68b6a4$</string>
            <key>textureFileName</key>
            <string>GridEffects.pvr.ccz</string>
        </dict>
    </dict>
</plist>
