<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_Tlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{108,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{108,17}}</string>
                <key>sourceSize</key>
                <string>{108,19}</string>
            </dict>
            <key>Effect_aura0.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,97},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Effect_aura1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,65},{27,39}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{27,39}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>Effect_daily.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,65},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>Effect_partical0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,91},{60,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,13}}</string>
                <key>sourceSize</key>
                <string>{60,13}</string>
            </dict>
            <key>Effect_ray0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,63}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>Effect_ray1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{116,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{116,71}}</string>
                <key>sourceSize</key>
                <string>{128,75}</string>
            </dict>
            <key>Effect_smokeW.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,91},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>Effect_spot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,90},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>Effect_spot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,97},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Effect_spot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,91},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>Effect_star41.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,73},{7,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{7,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>Effect_star42.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,105},{13,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Effect_star51.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,83},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>Effect_star52.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,97},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{9,9}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LightEffects.pvr.ccz</string>
            <key>size</key>
            <string>{181,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62108f8762142b7f85054b013978e09f:ff6ff0b81ca16ed4be922a27917e13bb:ff5627392ad63d801e658d3ca576f515$</string>
            <key>textureFileName</key>
            <string>LightEffects.pvr.ccz</string>
        </dict>
    </dict>
</plist>
