<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_Tlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,424},{108,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{108,17}}</string>
                <key>sourceSize</key>
                <string>{108,19}</string>
            </dict>
            <key>Effect_aura0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,434},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Effect_aura1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,364},{27,39}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{27,39}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>Effect_aura2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,341},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>Effect_aura3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>Effect_aura4.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,401},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Effect_partical0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,405},{60,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,13}}</string>
                <key>sourceSize</key>
                <string>{60,13}</string>
            </dict>
            <key>Effect_ray0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,341},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,63}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>Effect_smokeW.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,325},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>Effect_spot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,442},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>Effect_spot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,434},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Effect_spot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,431},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>Effect_star41.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,349},{7,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{7,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>Effect_star42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,442},{13,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Effect_star51.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,349},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>Effect_star52.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,354},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{9,9}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>LightEffects.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>partical-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,364},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>partical-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,364},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>partical-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,428},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>partical-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,404},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>partical-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,442},{5,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,6}</string>
            </dict>
            <key>partical-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,442},{5,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,6}</string>
            </dict>
            <key>partical-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,354},{5,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,6}</string>
            </dict>
            <key>partical-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,442},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>partical-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,442},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>snow-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,349},{6,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{6,8}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>snow-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,341},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{12,12}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>snow-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,258},{78,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{78,82}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>snow-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,431},{21,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{21,21}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>snow-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,258},{56,54}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{56,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>snow-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,258},{19,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{19,66}}</string>
                <key>sourceSize</key>
                <string>{25,66}</string>
            </dict>
            <key>snow-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,313},{52,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>snow-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,401},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{31,29}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>snoweffect-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,419},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>snoweffect-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,258},{17,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,85}}</string>
                <key>sourceSize</key>
                <string>{17,87}</string>
            </dict>
            <key>snoweffect-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,344},{17,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{17,83}}</string>
                <key>sourceSize</key>
                <string>{17,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LightEffects.pvr.ccz</string>
            <key>size</key>
            <string>{258,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b27438fb7799f30ab2091a349d3ed68c:5128c57cf1fc4147cd5155ea00443316:ff5627392ad63d801e658d3ca576f515$</string>
            <key>textureFileName</key>
            <string>LightEffects.pvr.ccz</string>
        </dict>
    </dict>
</plist>
