<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LogoutButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1},{60,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,18}}</string>
                <key>sourceSize</key>
                <string>{62,20}</string>
            </dict>
            <key>PrizeListButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,68},{66,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,20}}</string>
                <key>sourceSize</key>
                <string>{68,22}</string>
            </dict>
            <key>Tbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{119,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{119,59}}</string>
                <key>sourceSize</key>
                <string>{123,61}</string>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,91},{50,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,75}}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>ui-blueB2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,159},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{31,17}</string>
            </dict>
            <key>ui-greenB2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,141},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{31,17}</string>
            </dict>
            <key>ui_blueA1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,143},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,28}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ui_blueB1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,89},{53,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,22}}</string>
                <key>sourceSize</key>
                <string>{55,24}</string>
            </dict>
            <key>ui_blueC1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,113},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>ui_gray_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,154},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,28}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ui_greenA1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,112},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,28}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ui_redA1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,61},{91,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,29}}</string>
                <key>sourceSize</key>
                <string>{91,29}</string>
            </dict>
            <key>ui_window2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,20},{53,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,47}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>ui_window3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,89},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,23}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>ui_window4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,91},{39,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,32}}</string>
                <key>sourceSize</key>
                <string>{39,32}</string>
            </dict>
            <key>ui_yellowC1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,124},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainUI.pvr.ccz</string>
            <key>size</key>
            <string>{183,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06799ce4515b688687d79fd2c2b38728:5556bc9c491ff7c2e9c4a55016b72878:fece0d2cbdeafc7e2280ca6719c19370$</string>
            <key>textureFileName</key>
            <string>MainUI.pvr.ccz</string>
        </dict>
    </dict>
</plist>
