<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WorldBG0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{50,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,150}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>WorldBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WorldBG1.pvr.ccz</string>
            <key>size</key>
            <string>{152,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d221836b2e5adfe81bd7187d547fd6b9:8a6dd5963f41b3436fc2442b4751ac26:3e4db2ff785cc91e11ee2db7850e0413$</string>
            <key>textureFileName</key>
            <string>WorldBG1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
