<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>16B.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,27},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>16C.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,61},{23,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,8}}</string>
                <key>sourceSize</key>
                <string>{23,8}</string>
            </dict>
            <key>16D.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,68},{22,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,4}}</string>
                <key>sourceSize</key>
                <string>{22,4}</string>
            </dict>
            <key>16E.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,42},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>16F.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,74},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>sourceSize</key>
                <string>{5,4}</string>
            </dict>
            <key>16G.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,71},{4,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,7}}</string>
                <key>sourceSize</key>
                <string>{4,7}</string>
            </dict>
            <key>16H.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,74},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,7}</string>
            </dict>
            <key>16I.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,71},{8,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,7}}</string>
                <key>sourceSize</key>
                <string>{8,7}</string>
            </dict>
            <key>16J.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,68},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{5,5}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>16K.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,75},{3,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{3,5}}</string>
                <key>sourceSize</key>
                <string>{5,7}</string>
            </dict>
            <key>16L.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>16M.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,71},{6,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,5}}</string>
                <key>sourceSize</key>
                <string>{6,5}</string>
            </dict>
            <key>16N.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{46,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,25}}</string>
                <key>sourceSize</key>
                <string>{46,25}</string>
            </dict>
            <key>16O.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,0},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>16P.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,61},{15,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,7}}</string>
                <key>sourceSize</key>
                <string>{15,7}</string>
            </dict>
            <key>16Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,74},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>sourceSize</key>
                <string>{5,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WorldNPC16.pvr.ccz</string>
            <key>size</key>
            <string>{78,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e9aea608fcee880e6aa6776ceb5f6cf:53caea45757b5762c1e2d33cfbe823cd:dbd4ab9bd9c87c479d8013ae9cb44467$</string>
            <key>textureFileName</key>
            <string>WorldNPC16.pvr.ccz</string>
        </dict>
    </dict>
</plist>
