<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slider_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{301,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,14}}</string>
                <key>sourceSize</key>
                <string>{301,14}</string>
            </dict>
            <key>slider_barbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{301,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,14}}</string>
                <key>sourceSize</key>
                <string>{301,14}</string>
            </dict>
            <key>slider_drag.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>ui_button_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{134,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,48}}</string>
                <key>sourceSize</key>
                <string>{134,48}</string>
            </dict>
            <key>ui_icon_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{58,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,49}}</string>
                <key>sourceSize</key>
                <string>{58,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Editor.pvr.ccz</string>
            <key>size</key>
            <string>{864,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:680c6a400b4606b54b858e2a01eeb3ea:2bbe4a36a783f16e69d94913dde86882:488d68f9461279a5d06e19b5bd9495ba$</string>
            <key>textureFileName</key>
            <string>Editor.pvr.ccz</string>
        </dict>
    </dict>
</plist>
