<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1346},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{44,44}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>4kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1391},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>5--08.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1346},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>5--09.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1436},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,437},{46,52}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{46,52}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1267},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1315},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1267},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>57.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1188},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1236},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>5kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1188},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>61.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1109},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1157},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>64.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1109},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1078},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>66.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1030},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>68.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1030},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>T.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,72},{52,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{52,52}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>T1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{229,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{229,53}}</string>
                <key>sourceSize</key>
                <string>{229,57}</string>
            </dict>
            <key>Tkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,951},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>baidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,872},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>bear-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,910},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,59}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>bear-47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1474},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{59,59}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>bear-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,970},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{59,59}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,403},{81,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{81,91}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>faceNEW-66.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,495},{79,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,77}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>faceNEW-69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,416},{119,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{119,112}}</string>
                <key>sourceSize</key>
                <string>{123,116}</string>
            </dict>
            <key>flash-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1503},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>flash-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,766},{77,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,26}}</string>
                <key>sourceSize</key>
                <string>{77,26}</string>
            </dict>
            <key>flash-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1394},{26,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,79}}</string>
                <key>sourceSize</key>
                <string>{26,79}</string>
            </dict>
            <key>gezistars-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1131},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>gezistars-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1450},{26,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,14}</string>
            </dict>
            <key>gezistars-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1503},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>ice-58.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1401},{25,36}}</string>
                <key>offset</key>
                <string>{-26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>ice-59.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,352},{47,44}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>ice-60.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1465},{41,22}}</string>
                <key>offset</key>
                <string>{18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{41,22}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>ice-61.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1401},{23,48}}</string>
                <key>offset</key>
                <string>{-27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{23,48}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>ice-62.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1346},{35,40}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{35,40}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>ice-63.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1},{19,36}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,26},{19,36}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>ice-64.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1470},{29,54}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,10},{29,54}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>ice-65.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,756},{63,28}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{63,28}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>ice-66.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,490},{45,30}}</string>
                <key>offset</key>
                <string>{16,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,48},{45,30}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>ice-67.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,653},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>ice-68.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,529},{19,31}}</string>
                <key>offset</key>
                <string>{29,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>ice-69.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1474},{35,59}}</string>
                <key>offset</key>
                <string>{21,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{35,59}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>ice-70.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,272},{53,79}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{53,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>ice-71.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,566},{65,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>ice-72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1394},{55,79}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>ice-73.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1470},{37,63}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{37,63}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>ice-74.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,38},{19,33}}</string>
                <key>offset</key>
                <string>{-29,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{19,33}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>ice-75.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1109},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>matchlights-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1503},{27,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>matchlights-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1401},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>sence effct-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,521},{44,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{44,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sence effct-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1471},{31,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{31,31}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>sence effct-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,848},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>shadow-57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,55},{196,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{196,60}}</string>
                <key>sourceSize</key>
                <string>{210,72}</string>
            </dict>
            <key>spoon-49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,116},{173,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{173,155}}</string>
                <key>sourceSize</key>
                <string>{177,155}</string>
            </dict>
            <key>straw-42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,272},{119,143}}</string>
                <key>offset</key>
                <string>{0,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,206},{119,143}}</string>
                <key>sourceSize</key>
                <string>{121,379}</string>
            </dict>
            <key>straw-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,529},{99,367}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{99,367}}</string>
                <key>sourceSize</key>
                <string>{121,379}</string>
            </dict>
            <key>straw-44.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,707},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{63,48}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>straw-45.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,292},{67,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{67,56}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>straw-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,646},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{65,60}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>straw-47.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1346},{59,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{59,54}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>straw-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,785},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{61,62}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>sugar-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,125},{75,52}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{75,52}}</string>
                <key>sourceSize</key>
                <string>{89,62}</string>
            </dict>
            <key>sugar-51.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,733},{77,32}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,32}}</string>
                <key>sourceSize</key>
                <string>{83,36}</string>
            </dict>
            <key>sugar-52.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,397},{47,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{47,39}}</string>
                <key>sourceSize</key>
                <string>{59,41}</string>
            </dict>
            <key>sugar-53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,897},{99,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{99,51}}</string>
                <key>sourceSize</key>
                <string>{105,55}</string>
            </dict>
            <key>suger.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,793},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>turn bad-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,573},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>turn bad-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,220},{69,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{69,71}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>turn good-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,349},{67,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,53}}</string>
                <key>sourceSize</key>
                <string>{71,55}</string>
            </dict>
            <key>turn good-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,178},{75,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,41}}</string>
                <key>sourceSize</key>
                <string>{77,43}</string>
            </dict>
            <key>turn good-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,949},{96,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,34}}</string>
                <key>sourceSize</key>
                <string>{98,36}</string>
            </dict>
            <key>turn good-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,55},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,15}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,984},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GridEffects.pvr.ccz</string>
            <key>size</key>
            <string>{251,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb3aea3cac74dd28ac77d2dff809c4d3:7f03cfa35b083b185a7d585a813a8fcc:42c9c8fa5b07d75c1ef9885afa68b6a4$</string>
            <key>textureFileName</key>
            <string>GridEffects.pvr.ccz</string>
        </dict>
    </dict>
</plist>
