<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LogoutButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1},{245,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{245,74}}</string>
                <key>sourceSize</key>
                <string>{249,78}</string>
            </dict>
            <key>PrizeListButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,270},{267,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{267,85}}</string>
                <key>sourceSize</key>
                <string>{271,89}</string>
            </dict>
            <key>Tbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{475,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{475,240}}</string>
                <key>sourceSize</key>
                <string>{491,244}</string>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,361},{200,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>ui-blueB2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,662},{119,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{119,66}}</string>
                <key>sourceSize</key>
                <string>{123,70}</string>
            </dict>
            <key>ui-greenB2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,662},{119,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{119,66}}</string>
                <key>sourceSize</key>
                <string>{123,70}</string>
            </dict>
            <key>ui_blueA1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,568},{194,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{194,116}}</string>
                <key>sourceSize</key>
                <string>{198,122}</string>
            </dict>
            <key>ui_blueB1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,356},{215,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{215,92}}</string>
                <key>sourceSize</key>
                <string>{219,96}</string>
            </dict>
            <key>ui_blueC1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,448},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>ui_gray_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,449},{197,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{197,118}}</string>
                <key>sourceSize</key>
                <string>{201,122}</string>
            </dict>
            <key>ui_greenA1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,609},{194,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{194,116}}</string>
                <key>sourceSize</key>
                <string>{198,122}</string>
            </dict>
            <key>ui_redA1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,242},{364,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,118}}</string>
                <key>sourceSize</key>
                <string>{364,118}</string>
            </dict>
            <key>ui_window2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,76},{218,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{218,193}}</string>
                <key>sourceSize</key>
                <string>{222,197}</string>
            </dict>
            <key>ui_window3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,356},{129,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,91}}</string>
                <key>sourceSize</key>
                <string>{129,91}</string>
            </dict>
            <key>ui_window4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,479},{155,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,129}}</string>
                <key>sourceSize</key>
                <string>{155,129}</string>
            </dict>
            <key>ui_yellowC1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,361},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainUI.pvr.ccz</string>
            <key>size</key>
            <string>{729,729}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b22b344d1f41eddb4b647703b271e2f2:5556bc9c491ff7c2e9c4a55016b72878:fece0d2cbdeafc7e2280ca6719c19370$</string>
            <key>textureFileName</key>
            <string>MainUI.pvr.ccz</string>
        </dict>
    </dict>
</plist>
