<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WorldBg13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WorldBG13.pvr.ccz</string>
            <key>size</key>
            <string>{600,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:366a70ec32eef991ee975e5a88a8a406:3bf67e6fb92ef230debd71c83597dc09:9eb8e62e7b3d9dd49f05d2857ff01d17$</string>
            <key>textureFileName</key>
            <string>WorldBG13.pvr.ccz</string>
        </dict>
    </dict>
</plist>
