<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WorldBG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WorldBG3.pvr.ccz</string>
            <key>size</key>
            <string>{600,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b070aae3468eed4539aa4623c66a0ff:1003734664d1ded644045ba31ff27ab5:dd1f185b1143dd509b5b803118b1e1c3$</string>
            <key>textureFileName</key>
            <string>WorldBG3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
