<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>16B.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,101},{157,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,171}}</string>
                <key>sourceSize</key>
                <string>{157,171}</string>
            </dict>
            <key>16C.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,234},{90,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,32}}</string>
                <key>sourceSize</key>
                <string>{90,32}</string>
            </dict>
            <key>16D.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,281},{88,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,17}}</string>
                <key>sourceSize</key>
                <string>{88,17}</string>
            </dict>
            <key>16E.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,163},{69,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,127}}</string>
                <key>sourceSize</key>
                <string>{69,127}</string>
            </dict>
            <key>16F.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,260},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>16G.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,268},{16,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>16H.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,290},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,19}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>16I.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,268},{32,25}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{32,25}}</string>
                <key>sourceSize</key>
                <string>{34,29}</string>
            </dict>
            <key>16J.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,260},{16,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{16,14}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>16K.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,291},{11,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{11,17}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>16L.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>16M.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,268},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>16N.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{183,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,99}}</string>
                <key>sourceSize</key>
                <string>{183,99}</string>
            </dict>
            <key>16O.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,0},{161,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,111}}</string>
                <key>sourceSize</key>
                <string>{161,111}</string>
            </dict>
            <key>16P.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,234},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>16Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,268},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WorldNPC16.pvr.ccz</string>
            <key>size</key>
            <string>{302,302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:653a051f684c28285d9fa1631301c003:53caea45757b5762c1e2d33cfbe823cd:dbd4ab9bd9c87c479d8013ae9cb44467$</string>
            <key>textureFileName</key>
            <string>WorldNPC16.pvr.ccz</string>
        </dict>
    </dict>
</plist>
